@import "vars.scss";
@import "font.scss";

.productsBlock {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px 0;
    input {
      background: transparent;
      width: 290px;
      font-size: 16px;
      color: $grey;
      border: none;
      border-bottom: 1px solid $grey;
      outline: none;
      margin-top: 20px;
      @media (max-width: 380px) {
        width: 245px;
      }
    }
    .validation {
      border-bottom: 1px solid red;
    }
    textarea {
      background: $black2;
      width: 290px;
      height: 145px;
      font-size: 16px;
      color: $grey;
      resize: none;
      border: none;
      border-bottom: 1px solid $grey;
      outline: none;
      margin: 20px 0;
      @media (max-width: 380px) {
        width: 245px;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $black inset;
      -webkit-text-fill-color: $grey !important;
    }
    .fileUpload {
      color: transparent;
      border: none;
      width: 150px;
    }
    .fileUpload::-webkit-file-upload-button {
      visibility: hidden;
    }
    .fileUpload::before {
      content: "выберите фото";
      color: $yellow;
      background: transparent;
      border: 1px solid $yellow;
      display: inline-block;
      padding: 12px 24px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      font-size: 14px;
    }
    .fileUpload:active {
      outline: 0;
    }

    .customFileUpload {
      img {
        min-width: 250px;
        max-width: 250px;
        min-height: 250px;
        max-height: 250px;
      }
    }
    button {
      background: $yellow;
      cursor: pointer;
      border: none;
      width: 150px;
      height: 30px;
      font-family: "Montserrat-Bold";
      font-size: 15px;
      box-shadow: 0px 0px 8px $yellow;
      transition: 300ms;
    }
    button:hover {
      transition: 300ms;
      box-shadow: 0px 0px 12px $yellow;
    }
    button:disabled {
      cursor: not-allowed;
    }
  }
}
