.slider_block {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  .button_block {
    display: flex;
    align-items: center;
    margin: 5px;
    a {
      cursor: pointer;
    }
  }
  .button_block_number3 {
    height: 500px;
    margin: 65px;
  }
  .itemBlock {
    overflow: hidden;
    width: 65%;
    .item {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .container {
        width: 300px;
        height: 150%;
        display: flex;
        align-items: center;
        .window {
          height: 100%;
          width: 100%;
          .all_pages_container {
            height: 100%;
            display: flex;
            transition: translate;
            transition-property: transform;
            transition-timing-function: ease-in-out;
          }
        }
        .window_onePage {
          overflow: hidden;
          width: 1266px;
        }
      }
      .container_onePage {
        // width: 1200px;
        width: 100%;
      }
    }
  }
  .itemBlock_onePage {
    width: 100%;
  }
  .itemBlock_number3 {
    width: 510px;
    height: 100%;
    margin-top: -95px;
  }
}
.slider_block_number3 {
  justify-content: center;
  padding-top: 0px;
}
