@import "font";
@import "vars";
.headerBlock {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  @media (max-width: 688px) {
    flex-flow: column-reverse;
    align-items: center;
  }
  .collapse {
    position: absolute;
    top: 35px;
    right: 40px;

    @media (max-width: 435px) {
      top: 113px;
      right: 55px;
    }
    @media (min-width: 689px) {
      display: none;
    }
    img {
      width: 40px;
    }
  }
  .searchBlock {
    display: flex;
    position: relative;
    align-items: center;

    @media (max-width: 435px) {
      align-self: self-start;
      margin-left: 20px;
    }
    @media (max-width: 688px) {
      margin-top: 20px;
    }
    .search {
      color: $white;
      background: transparent;
      width: 185px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid;
      padding-left: 40px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      outline: none;
      @media (max-width: 435px) {
        width: 130px;
      }
    }
    .buttonSearch {
      cursor: pointer;
      border: none;
      position: absolute;
      left: 0px;
      top: 16px;
      @media (max-width: 688px) {
        top: 0px;
      }
      background: url(/src/assets/lupa.png) no-repeat 10px 10px;
      width: 35px;
      height: 35px;
      border-radius: 22px;
    }
  }
  //   .logoBlock {
  //   }
  .flexContainer {
    display: inline-flex;
    align-items: center;
    @media (max-width: 688px) {
      display: none;
    }
    .item {
      button {
        cursor: pointer;
        color: $white;
        background: transparent;
        border: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .item:nth-child(4) {
      margin: 0 5px 0 10px;
    }
    .line {
      border: 1px solid $white;
      width: 0;
      height: 20px;
      margin: 0 5px;
    }
    span {
      color: $white;
    }
  }
}

.categories {
  @media (max-width: 688px) {
    display: none;
  }
  ul {
    padding: 0;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    a {
      text-decoration: none;
      li {
        cursor: pointer;
        color: $white;
        font-family: "Montserrat-Light";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        width: 160px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms;

        @media (max-width: 897px) {
          font-size: 13px;
          width: 93px;
        }
        &:hover {
          transition: 200ms;
          color: $black;
          font-family: "Montserrat-Bold";
          font-weight: 700;
          background: $white;
          transform: matrix(1, 0, -0.2, 1, 0, 0);
        }
      }
      .active {
        transition: 200ms;
        color: $black;
        font-family: "Montserrat-Bold";
        font-weight: 700;
        background: $white;
        transform: matrix(1, 0, -0.2, 1, 0, 0);
      }
    }
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.categoriesCollapse {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  top: 80px;
  right: 13px;
  width: 188px;
  background: $black2;
  border-radius: 15px;
  z-index: 1;
  @media (max-width: 435px) {
    top: 160px;
  }
  @media (min-width: 688px) {
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    a {
      text-decoration: none;
      li {
        color: $white;
        font-family: "Montserrat-Light";
        padding: 10px 0;
      }
    }
    li:hover {
      color: $yellow;
    }
    .active {
      color: $yellow;
    }
  }
}
